# Ignore all
*
.*

# Except what we need to build
!/configure
!/configure.ac
!/install-sh
!/Makefile.am
!/Makefile.in
!/snmp_bulkget.c
!/snmp_bulkget.h
!/utils.c
!/utils.h
!/check_interfaces.c
!/AUTHORS
!/NEWS
!/COPYING
!/config.guess
!/config.sub
!/missing
!/compile
!/ChangeLog
!/INSTALL
!/depcomp
!/README.md
